html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn_novo{
    margin-top: 20px;
}

.icones {
    margin-right:10px;
    height: 26px;
    width: 26px;
}
